<!-- <h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%#= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions" %>
  </div>
<% end %> -->

<%#= render "devise/shared/links" %>


<div class="container-fluid">
  <div class="row vh-100 bg-white">
    <div class="col-md-5 d-flex">
      <div class="login-wrapper m-auto">
        <div class="brand-wrapper mb-5">
        <img class="navbar-brand mr-auto logo" src=<%=asset_path('ArjunParvatilogo.svg')%> style="width:420px;height:75px;" />
        </div>
        <h3 class="text-dark mb-3">Resend confirmation instructions</h3>
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <div class="form-group">
            <label for="email" class="sr-only">Email</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope text-secondary"></i></span>
              </div>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>          
            </div>
            <div id="email_error" style="font-size: 14px;"></div>
          </div>
           <%= f.submit "Resend confirmation instructions", class: "btn btn-primary btn-block btn-lg mb-3" %>
        <%end%>
        <p class="login-wrapper-footer-text" style="margin-bottom: 8px">Don't have an account? 
          <%= link_to "Register here", new_registration_path(resource_name), class: "text-danger" %>
        </p>
         <p class="login-wrapper-footer-text">You already have an account? 
          <%= link_to "Sign in", new_session_path(resource_name), class: "text-danger" %>
        </p>
      </div>
    </div>
    <div class="col-md-7 px-0 d-none d-md-block">
    <img class="mr-auto login-img" alt="login image" src=<%=asset_path('login-bg3.jpg')%> />
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#new_user").validate({
      rules: {
        "user[email]": {
            email: true,
            required: true
        }
      },
      messages: {
        "user[email]": {
          required: "Email can not be blank"
        }
      },
      errorPlacement: function (error, element) {
        var name = $(element).attr("name");
        var error_element = name.match(/\[(.*?)\]/)[1]+"_error";
        error.appendTo($("#email_error"));
        if ( error_element == "email_error") {
          error.appendTo("#email_error");
        } else {
          error.appendTo("#password_error");
        }
      },
    });
  });
</script>