<!-- <h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%#= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%#= render "devise/shared/links" %> -->


<div class="container-fluid">
  <div class="row vh-100 bg-white">
    <div class="col-md-5 d-flex">
      <div class="login-wrapper m-auto">
        <div class="brand-wrapper mb-5">
        <img class="navbar-brand mr-auto logo" src=<%=asset_path('ArjunParvatilogo.png')%> style="width:420px;height:75px;" />
        </div>
        <h3 class="text-dark mb-3">Welcome!</h3>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="form-group px-0">
            <label for="email" class="sr-only">Email</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope text-secondary"></i></span>
              </div>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>               
            </div>
            <div id="email_error" style="font-size: 14px;"></div>
          </div>
          <div class="form-group px-0">
            <label for="password" class="sr-only">Password</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-lock text-secondary"></i></span>
              </div>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
            </div>
            <div id="password_error" style="font-size: 14px;"></div>
          </div>
           <div class="form-group px-0">
            <label for="email" class="sr-only">Email</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-lock text-secondary"></i></span>
              </div>
              <%= f.password_field :password_confirmation, autocomplete: "current-password", class: "form-control", placeholder: "Password Confirmation" %>               
            </div>
            <div id="password_confirmation_error" style="font-size: 14px;"></div>
          </div>
           <%= f.submit "Sign up", class: "btn btn-primary btn-block btn-lg mb-3" %>
        <%end%>
        <p class="login-wrapper-footer-text">You already have an account?
          <%= link_to "Log in here", new_session_path(resource_name) %></br>
          <%= link_to "Didn't receive confirmation instructions?",  new_confirmation_path(resource_name)%>
        </p>
       <!--  <p class="login-wrapper-footer-text">
          <%#= link_to "Didn't receive confirmation instructions?", new_session_path(resource_name)%>
        </p> -->
      </div>
    </div>
    <div class="col-md-7 px-0 d-none d-md-block">
    <img class="mr-auto login-img" alt="login image" src=<%=asset_path('login-bg3.jpg')%> />
    </div>
  </div>
</div>


<script>
  $(document).ready(function () {
    $("#new_user").validate({
      rules: {
        "user[email]": {
          email: true,
          required: true
        },
        "user[password]": {
          required: true,
          minlength: 8,
          maxlength: 30
        },
        "user[password_confirmation]":{
          required: true,
          equalTo: "#user_password"
        },
      },
      messages: {
        "user[email]": {
          required: "Email can not be blank"
        },
        "user[password]": {
          required: "Password can not be blank"
        },
        "user[password_confirmation]": {
          required: "Password Confirmation can not be blank"
        },
      },
      errorPlacement: function (error, element) {
        var name = $(element).attr("name");
        var error_element = name.match(/\[(.*?)\]/)[1]+"_error";
        error.appendTo($("#email_error"));
        if ( error_element == "email_error") {
          error.appendTo("#email_error");
        } else if(error_element == "password_error"){
          error.appendTo("#password_error");
        }else{
          error.appendTo("#password_confirmation_error");
        }
      },
    });
  });
</script>