<header class="fixed-top">
<div class="container-fluid d-flex top-strip bg-light p-0 pl-3 pr-3">
  <ul class="clearfix ml-auto">
      <li class="float-left mr-4"><i class="fas fa-phone-alt mr-1 text-secondary"></i><a href="#" class="text-dark">9822368492</a></li>
      <li class="float-left"><i class="fas fa-envelope mr-1 text-secondary"></i><a href="#" class="text-dark">info@example.com</a></li>
  </ul>
</div>
<nav class="navbar navbar-expand-md navbar-light bg-white shadow p-0">
    <img class="navbar-brand mr-auto logo" src=<%=asset_path('logo.jpeg')%> />
      <div class="nav-menu">
        
        <form class="form-inline mt-2 mt-md-0 mr-4">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item mr-2 active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-2">
                   <%= link_to "Blessings", blessings_home_index_path,class: "nav-link", :method => :get %>
                </li>
                <li class="nav-item mr-2 pr-4">
                  <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item rounded bg-dark loginBtn mr-3">
                  <%= link_to "Sign in", new_user_session_path,class: "nav-link text-white", :method => :get %>
                </li>
                <li class="nav-item rounded bg-danger signUpBtn">
                  <%= link_to "Sign Up", new_user_registration_path,class: "nav-link text-white", :method => :get %>
                </li>
              </ul>
            </div>
        </form>
      </div>
    </nav>

</header>


<div class="container-fluid">
  <div class="row vh-100 bg-white">
    <div class="col-md-5 d-flex">
      <div class="blessing-wrapper m-auto">
        <div class="brand-wrapper mb-5">
        </div>
        <p class="blessing-text text-danger animate__animated animate__fadeInDown">
          <span style="position: relative;top: -27px;">&#8220;</span>The loss of my father will always sting. But now, everything that I do is in honor of him and celebrates his life.<span style="position: relative;top: -17px;">&#8221;</span></br>
        </p>
        <div class="ml-auto clearfix animate__animated animate__zoomIn">
          <img class="float-right" style="width: 300px;text-align: right;" alt="signature" src=<%=asset_path('signature.png')%> />
        </div>
      </div>
    </div>
    <div class="col-md-7 px-0 d-none d-md-block">
         <!-- <div class="blessing-bg"></div> -->
  <img class="mr-auto blessing-bg"  style ="
    width: 100%;" alt="login image" src=<%=asset_path('Anna_image.png')%> /> 
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#new_user").validate({
      rules: {
        "user[email]": {
            email: true,
            required: true
        },
        "user[password]": {
          required: true
        }
      },
      messages: {
        "user[email]": {
          required: "Email can not be blank"
        },
        "user[password]": {
          required: "Password can not be blank"
        },
      },
      errorPlacement: function (error, element) {
        var name = $(element).attr("name");
        var error_element = name.match(/\[(.*?)\]/)[1]+"_error";
        error.appendTo($("#email_error"));
        if ( error_element == "email_error") {
          error.appendTo("#email_error");
        } else {
          error.appendTo("#password_error");
        }
      },
    });
  });
</script>
<style>
.blessing-text {
  font-family: 'ReginaScript';
  font-size: 3rem;
  padding-left: 130px;
  color: crimson !important;
}
.blessing-bg {
  width: 100%;
  padding: 0px 0px 0 384px;
  height: calc( 100vh - 143px);
  position: relative;
  top: 142px;
}
.blessing-wrapper {
  width: 100%;
  max-width: 100%;
  padding: 34px;
  border-radius: 8px;
  border: 0;
  background-color: #fff; 
}

:root{
    --animate-duration:1s;
    --animate-delay:1s;
    --animate-repeat:1
}
.animate__animated{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-duration:var(--animate-duration);
    animation-duration:var(--animate-duration);
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
@-webkit-keyframes zoomIn{
    0%{
        opacity:0;
        -webkit-transform:scale3d(.3,.3,.3);
        transform:scale3d(.3,.3,.3)
    }
    50%{
        opacity:1
    }
}
@keyframes zoomIn{
    0%{
        opacity:0;
        -webkit-transform:scale3d(.3,.3,.3);
        transform:scale3d(.3,.3,.3)
    }
    50%{
        opacity:1
    }
}
.animate__zoomIn{
    -webkit-animation-name:zoomIn;
    animation-name:zoomIn
}

@-webkit-keyframes fadeInDown{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,-100%,0);
        transform:translate3d(0,-100%,0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}
@keyframes fadeInDown{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,-100%,0);
        transform:translate3d(0,-100%,0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}
.animate__fadeInDown{
    -webkit-animation-name:fadeInDown;
    animation-name:fadeInDown
}
</style>