<header class="fixed-top">
<div class="container-fluid d-flex top-strip bg-light p-0 pl-3 pr-3">
  <ul class="clearfix ml-auto">
      <li class="float-left mr-4"><i class="fas fa-phone-alt mr-1 text-secondary"></i><a href="#" class="text-dark">9822368492</a></li>
      <li class="float-left"><i class="fas fa-envelope mr-1 text-secondary"></i><a href="#" class="text-dark">info@example.com</a></li>
  </ul>
</div>
<nav class="navbar navbar-expand-md navbar-light bg-white shadow p-0">
    <img class="navbar-brand mr-auto logo" src=<%=asset_path('logo.jpeg')%> />
      <div class="nav-menu">
        
        <form class="form-inline mt-2 mt-md-0 mr-4">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item mr-2 active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-2">
                   <%= link_to "Blessings", blessings_home_index_path,class: "nav-link", :method => :get %>
                </li>
                <li class="nav-item mr-2 pr-4">
                  <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item rounded bg-dark loginBtn mr-3">
                  <%= link_to "Sign in", new_user_session_path,class: "nav-link text-white", :method => :get %>
                </li>
                <li class="nav-item rounded bg-danger signUpBtn">
                  <%= link_to "Sign Up", new_user_registration_path,class: "nav-link text-white", :method => :get %>
                </li>
              </ul>
            </div>
        </form>
      </div>
    </nav>

</header>

<main role="main" class="pl-0 pr-0 pb-0 container-fluid">
<div class="home-banner p-0">
</div>

<div class="container-fluid p-0 pt-0">

    <div class="container-fluid pt-5 pb-5">
    <h1 class="d-flex justify-content-center">Why Choose Us</h1>
    <p class="d-flex justify-content-center">With the values, we embrace our mission to bring each investor the best service</p>
    </div>
    <div class="row pb-5">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="d-flex justify-content-center">
            <p><img class="" src=<%=asset_path('icon1.png')%> /></p>
            </div>
            <div class="d-flex justify-content-center">
              <h3 class="pt-3 pb-3">Experienced</h3>
            </div>
            <div class="d-flex justify-content-center pl-5 pr-5">
            <p class="">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="d-flex justify-content-center">
            <p><img class="" src=<%=asset_path('icon2.png')%> /></p>
            </div>
            <div class="d-flex justify-content-center">
              <h3 class="pt-3 pb-3">Investment Agreement</h3>
            </div>
            <div class="d-flex justify-content-center pl-5 pr-5">
            <p class="">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="d-flex justify-content-center">
            <p><img class="" src=<%=asset_path('icon3.png')%> /></p>
            </div>
            <div class="d-flex justify-content-center">
              <h3 class="pt-3 pb-3">Rewards</h3>
            </div>
            <div class="d-flex justify-content-center pl-5 pr-5">
            <p class="">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown.</p>
            </div>
        </div>
    </div>


    <div class="home-banner1 p-0">
        <h1 class="d-flex justify-content-center pb-4">What Our Investor Say</h1>
        <div class="d-flex justify-content-center">
          <p><img class="" src=<%=asset_path('mayur.png')%> /></p>
        </div>
        <div class="d-flex justify-content-center pl-5 pr-5">
        <h2 class="pt-3 pb-3">Mayur Patil - Prime Investor</h2>
        </div>
        <div class="d-flex justify-content-center pl-5 pr-5">
        <p class="">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown.</p>
        </div>
    </div>



    <div class="container-fluid pt-5 pb-5">
    <h1 class="d-flex justify-content-center">Help Simplify Your Finance</h1>
    <p class="d-flex justify-content-center">Let us spend time take care of your finance and you spend time enjoy your life</p>
    </div>
    <div class="row pb-5">
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">            
            <div class="d-flex justify-content-center">
              <h2 class="pt-3 pb-1">125</h2>
            </div>
            <div class="d-flex justify-content-center pl-5 pr-5">
            <p class="">Employees</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
            <div class="d-flex justify-content-center">
              <h2 class="pt-3 pb-1">100</h2>
            </div>
            <div class="d-flex justify-content-center pl-5 pr-5">
            <p class="">% Satisfication</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
            <div class="d-flex justify-content-center">
              <h2 class="pt-3 pb-1">9192</h2>
            </div>
            <div class="d-flex justify-content-center pl-5 pr-5">
            <p class="">Coffee Cups</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="d-flex justify-content-center">
          <h2 class="pt-3 pb-1">9.5</h2>
        </div>
        <div class="d-flex justify-content-center pl-5 pr-5">
        <p class="">Rating</p>
        </div>
    </div>
    </div>


    <div class="home-banner2 p-0">
      <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-lg btn-warning font-weight-bold text-dark">Start Your Investment</button>
      </div>   
    </div>




</div>

</main>

<footer id="footer">
  <div class="container-fluid p-0">
  <div class="footer-top">
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-info">
          <h3>Company Name</h3>
          <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="fas fa-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="fas fa-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="fas fa-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="fas fa-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="fas fa-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            A108 Adam Street <br>
            New York, NY 535022<br>
            United States <br>
          <strong>Phone:</strong> +1 5589 55488 55<br>
          <strong>Email:</strong> info@example.com<br>
        </p>

        <div class="social-links">
          <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
          <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
          <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
        </div>

      </div>

      <div class="col-lg-3 col-md-6 footer-newsletter">
        <h4>Our Newsletter</h4>
        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
        <form action="" method="post">
          <input type="email" name="email"><input type="submit" value="Subscribe">
        </form>
      </div>

    </div>
  </div>
</div>  

<div class="container-fluid p-0">
      <div class="copyright">
      &copy; Copyright <strong>Company Name</strong>. All Rights Reserved
      </div>
    </div>

  </div>
</footer>
<!-- Home page Ends -->
