<!-- <h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>  -->

<%#= render "devise/shared/links" %>



<!-- Login Screen Code -->
<div class="container-fluid">
  <div class="row vh-100 bg-white">
    <div class="col-md-5 d-flex">
      <div class="login-wrapper m-auto">
        <div class="brand-wrapper mb-5">
        <img class="navbar-brand mr-auto logo" src=<%=asset_path('ArjunParvatilogo.svg')%> style="width:420px;height:75px;" />
        </div>
        <h3 class="text-dark mb-3">Welcome Back!</h3>
        <%= form_for(resource, as: resource_name, id: "new_user", url: session_path(resource_name)) do |f| %>
          <div class="form-group px-0">
            <label for="email" class="sr-only">Email</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope text-secondary"></i></span>
              </div>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
            </div>
            <div id="email_error" style="font-size: 14px;"></div>
          </div>
          <div class="form-group px-0">
            <label for="password" class="sr-only">Password</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-lock text-secondary"></i></span>
              </div>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
            </div>
            <div id="password_error" style="font-size: 14px;"></div>
          </div>
          <div class="form-options-wrapper pl-2">
            <div class="custom-control custom-checkbox login-check-box">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label text-dark" for="customCheck1">Remember me</label>
            </div>
            <%= link_to "Forgot password?", new_password_path(resource_name),  class: "text-dark" %>
          </div>
           <%= f.submit "Log in", class: "btn btn-primary btn-block btn-lg mb-3" %>
        <%end%>
        <p class="login-wrapper-footer-text">Don't have an account? 
          <%= link_to "Register here", new_registration_path(resource_name), class: "text-danger" %>
        </p>
      </div>
    </div>
    <div class="col-md-7 px-0 d-none d-md-block">
    <img class="mr-auto login-img" alt="login image" src=<%=asset_path('login-bg3.jpg')%> />
    </div>
  </div>
</div>
    <!-- Login Screen Code -->

<script>
  $(document).ready(function () {
    $("#new_user").validate({
      rules: {
        "user[email]": {
            email: true,
            required: true
        },
        "user[password]": {
          required: true
        }
      },
      messages: {
        "user[email]": {
          required: "Email can not be blank"
        },
        "user[password]": {
          required: "Password can not be blank"
        },
      },
      errorPlacement: function (error, element) {
        var name = $(element).attr("name");
        var error_element = name.match(/\[(.*?)\]/)[1]+"_error";
        error.appendTo($("#email_error"));
        if ( error_element == "email_error") {
          error.appendTo("#email_error");
        } else {
          error.appendTo("#password_error");
        }
      },
    });
  });
</script>